0:0  - 7:0    •source_file
0:0  - 3:7      •function_declaration
0:0  - 0:3         "sub"
0:4  - 0:8         name: identifier `main`
0:8  - 0:10        parameters: parameter_list
0:8  - 0:9           "("
0:9  - 0:10          ")"
0:10 - 3:0        body: •block
1:2  - 1:34         •for_statement
1:2  - 1:5             "for"
1:6  - 1:7             counter: identifier `i`
1:8  - 1:9             "="
1:10 - 1:11            start: number `1`
1:12 - 1:14            "to"
1:15 - 1:16            end: number `2`
1:17 - 1:18            body: block
1:17 - 1:18              ":"
1:19 - 1:26           •ERROR
1:19 - 1:20             identifier `x`
1:21 - 1:22             "="
1:23 - 1:24             ")"
1:25 - 1:26             ":"
1:27 - 1:34           "end for"
2:2  - 2:7          assignment_statement
2:2  - 2:3            left: identifier `y`
2:4  - 2:5            "="
2:6  - 2:7            right: number `1`
3:0  - 3:7        "end sub"
4:0  - 6:7      function_declaration
4:0  - 4:3        "sub"
4:4  - 4:9        name: identifier `other`
4:9  - 4:11       parameters: parameter_list
4:9  - 4:10         "("
4:10 - 4:11         ")"
4:11 - 6:0        body: block
5:2  - 5:7          assignment_statement
5:2  - 5:3            left: identifier `z`
5:4  - 5:5            "="
5:6  - 5:7            right: number `2`
6:0  - 6:7        "end sub"
