0:0   - 14:14   •source_file
0:0   - 2:7       function_declaration
0:0   - 0:3         "sub"
0:4   - 0:9         name: identifier `first`
0:9   - 0:11        parameters: parameter_list
0:9   - 0:10          "("
0:10  - 0:11          ")"
0:11  - 2:0         body: block
1:2   - 1:7           assignment_statement
1:2   - 1:3             left: identifier `x`
1:4   - 1:5             "="
1:6   - 1:7             right: number `1`
2:0   - 2:7         "end sub"
3:0   - 9:12      •function_declaration
3:0   - 3:8         "function"
3:9   - 3:15        name: identifier `second`
3:15  - 3:17        parameters: parameter_list
3:15  - 3:16          "("
3:16  - 3:17          ")"
3:17  - 9:0         body: •block
4:2   - 7:8           •if_statement
4:2   - 4:4              "if"
4:5   - 4:6              condition: identifier `c`
4:7   - 4:11             "then"
4:11  - 7:0             consequence: •block
5:4   - 6:9               •assignment_statement
5:4   - 5:5                  left: identifier `x`
5:6   - 5:7                  "="
5:8   - 6:0                 •ERROR
5:8   - 5:9                    ")"
5:51  - 5:52                   ":"
5:53  - 5:57                   "else"
6:4   - 6:9                  right: binary_expression
6:4   - 6:5                    left: identifier `y`
6:6   - 6:7                    "="
6:8   - 6:9                    right: number `1`
7:2   - 7:8             "end if"
8:2   - 8:10          return_statement
8:2   - 8:8             "return"
8:9   - 8:10            value: number `2`
9:0   - 9:12        "end function"
10:0  - 14:14     •ERROR
10:0  - 10:3        "sub"
10:4  - 10:8        identifier `main`
10:8  - 10:10       parameter_list
10:8  - 10:9          "("
10:9  - 10:10         ")"
11:2  - 11:4        "if"
11:5  - 11:6        identifier `q`
11:7  - 11:11       "then"
12:4  - 12:7        "for"
12:8  - 12:9        counter: identifier `i`
12:10 - 12:11       "="
12:12 - 12:13       start: number `0`
12:14 - 12:16       "to"
12:17 - 12:18       end: number `1`
12:18 - 14:14       •block
13:6  - 14:14         •ERROR
13:6  - 13:7             identifier `t`
13:8  - 13:9             "="
13:10 - 13:11            "{"
14:8  - 14:12            associative_array_entry
14:8  - 14:9               key: identifier `a`
14:9  - 14:10              ":"
14:11 - 14:12              value: number `1`
14:13 - 14:14           open_bracket `[`
