0:0  - 10:0   •source_file
0:0  - 6:7      •function_declaration
0:0  - 0:3         "sub"
0:4  - 0:8         name: identifier `main`
0:8  - 0:10        parameters: parameter_list
0:8  - 0:9           "("
0:9  - 0:10          ")"
0:10 - 6:0        body: •block
1:2  - 5:6          •for_statement
1:2  - 1:5             "for"
1:6  - 1:7             counter: identifier `i`
1:8  - 1:9             "="
1:10 - 1:11            start: number `1`
1:12 - 1:14            "to"
1:15 - 1:16            end: number `2`
1:16 - 5:0            body: •block
2:4  - 4:11             •for_statement
2:4  - 2:7                 "for"
2:8  - 2:9                 counter: identifier `j`
2:10 - 2:11                "="
2:12 - 2:13                start: number `1`
2:14 - 2:16                "to"
2:17 - 2:18                end: number `2`
2:18 - 2:19               •ERROR
2:18 - 2:19                  ","
2:19 - 4:0                 body: block
3:6  - 3:13                  print_statement
3:6  - 3:11                    "print"
3:12 - 3:13                    identifier `j`
4:4  - 4:11               "end for"
5:2  - 5:6            "next"
6:0  - 6:7        "end sub"
7:0  - 9:7      function_declaration
7:0  - 7:3        "sub"
7:4  - 7:9        name: identifier `other`
7:9  - 7:11       parameters: parameter_list
7:9  - 7:10         "("
7:10 - 7:11         ")"
7:11 - 9:0        body: block
8:2  - 8:7          assignment_statement
8:2  - 8:3            left: identifier `y`
8:4  - 8:5            "="
8:6  - 8:7            right: number `2`
9:0  - 9:7        "end sub"
