0:0   - 13:0    •source_file
0:0   - 9:7       •function_declaration
0:0   - 0:3          "sub"
0:4   - 0:8          name: identifier `main`
0:8   - 0:10         parameters: parameter_list
0:8   - 0:9            "("
0:9   - 0:10           ")"
0:10  - 9:0         body: •block
1:2   - 7:4           •call_expression
1:2   - 1:7              object: member_expression
1:2   - 1:3                object: identifier `m`
1:3   - 1:4                "."
1:4   - 1:7                property: identifier `top`
1:7   - 1:8             "."
1:8   - 1:20            property: identifier `observeField`
1:20  - 7:4             arguments: •argument_list
1:20  - 1:21              "("
1:21  - 1:24              string `\"x\"`
1:24  - 1:25              ","
1:26  - 7:3               •associative_array_literal
1:26  - 1:27                "{"
2:4   - 6:5                 •associative_array_entry
2:4   - 2:5                   key: identifier `a`
2:5   - 2:6                   ":"
2:7   - 6:5                   value: •associative_array_literal
2:7   - 2:8                     "{"
3:6   - 3:10                    associative_array_entry
3:6   - 3:7                       key: identifier `b`
3:7   - 3:8                       ":"
3:9   - 3:10                      value: number `1`
4:6   - 5:10                    •ERROR
4:6   - 4:7                       identifier `c`
4:7   - 4:8                       ":"
4:9   - 4:10                      ")"
6:4   - 6:5                     "}"
7:2   - 7:3                 "}"
7:3   - 7:4               ")"
8:2   - 8:7           assignment_statement
8:2   - 8:3             left: identifier `y`
8:4   - 8:5             "="
8:6   - 8:7             right: number `1`
9:0   - 9:7         "end sub"
10:0  - 12:7      function_declaration
10:0  - 10:3        "sub"
10:4  - 10:9        name: identifier `other`
10:9  - 10:11       parameters: parameter_list
10:9  - 10:10         "("
10:10 - 10:11         ")"
10:11 - 12:0        body: block
11:2  - 11:7          assignment_statement
11:2  - 11:3            left: identifier `z`
11:4  - 11:5            "="
11:6  - 11:7            right: number `2`
12:0  - 12:7        "end sub"
