0:0 - 4:0   •source_file
0:0 - 2:1     •assignment_statement
0:0 - 0:1        left: identifier `x`
0:2 - 0:3        "="
0:4 - 2:1       right: •unary_expression
0:4 - 0:5          "-"
0:5 - 2:0         •ERROR
2:0 - 2:1         operand: •unary_expression
2:0 - 2:1            "-"
2:1 - 2:1           operand: •identifier
3:0 - 3:5      assignment_statement
3:0 - 3:1        left: identifier `y`
3:2 - 3:3        "="
3:4 - 3:5        right: number `1`
